# Ignore vendor directory
vendor/

# Ignore composer files
composer.lock

composer.phar
composer.phar.phar

#Logs
storage/logs/
*.log

# Development environment files
.env
.env.*
*.env

.idea/
.vscode/